@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    color: #202020;
    background-color: #fafafa;
    font-smooth: always;
}

ul {
    margin: 0;
    padding: 0;
    // list-style:none;
}


// vars

$generic-box-shadow: rgba(0,0,0,.1) 0px 0px 0px 1px, rgba(0,0,0,.1) 0px 4px 11px;
$generic-border: 1px solid #f1f1f1;
$generic-bg: #db4c3f;

// mixins

@mixin box-overlay() {
    box-shadow: $generic-box-shadow;
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 85px;
    border-radius: 5px;
}

@mixin va($va-align: center) {
    display: flex;
    align-items: center;

    @if $va-align != center {
        justify-content: left;
    } @else {
        justify-content: center;
    }
}

@mixin no-select {
    user-select: none;
}

@mixin btn($width) {
    position: relative;
    display: inline-block;
    font-size: 0.78rem !important;
    font-weight: 800;
    line-height: 17px;
    width: $width;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 3px !important;
    background-color: $generoc-bg;
    color: #fff !important;
    margin: 10px 5px 0 0;
    padding: 6px 12px 7px 12px;
    text-decoration: none !important;
    white-space: nowrap;
    cursor: pointer;
}

@mixin cancel() {
    color: #555;
    font-size: 0.85rem;
    margin: 2px 5px;
    cursor: pointer;
}

@mixin task-item() {
    display: flex;
    font-size: 14px;
    line-height: 1.125rem;
    color: #333;
    border-bottom: 1px solid #f0f0f0;
    padding: 10px 0 10px 10px;
    list-style-type: none;
    cursor: pointer;

    &:hover {
        background-color: #f9f9f9;
    }
}

@mixin mq($from) {
    @media (max-width: $from) {
        @content;
    }
}

// dm

.darkmode {
    .header {
        box-shadow: 0px 1px 3px 0 rgba(0,0,0,.15);
        background-color: #282828;
        border-color: transparent
    }
}

// header 

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 44px;
    border-bottom: 1px solid #ca2100;
    background-color: $generic-bg;
    z-index: 400;
    transition: height 250ms ease;

    @include mq('900px') {
        padding: 0 10px;
    }

    nav {
        display: grid;
        align-items: center;
        height: 44px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:1fr;
        grid-gap: 0;
        max-width: 922px;
        margin: 0 auto;
    }

    p, li {
        color: #fff;
    }

    .logo {
        padding-left: 8px;
        grid-area: 1/1;
        img {
            width: 24px;
        }
    }

    .settings {
        grid-area: 1/2;
        text-align: right;

        ul {
            float: right;
        }

        ul li {
            @include va;

            width: 30px;
            height: 30px;
            text-align: center;
            vertical-align: middle;
            list-style-type: none;
            float: left;
            cursor: pointer;

            &:hover {
                border-radius: 5px;
                background-color: rgba(255,255,255,0.2);
            }

            &.settings__add {
                font-size: 2.125rem;
                margin-right: 15px;
            }

            &.settings__darkmode svg {
                width: 20px;
                height: 20px;
            }

        }
    }
}

// sidebar

.sidebar {
    @include no-select();
    position: fixed;
    max-width: 266px;
    height: calc(100vh);
    background-color: #fafafa;
    border-right: $generic-border;
    padding-top: 74px;
    overflow: hidden;

    @include mq('900px') {
        display: none;
    }

    li {
        padding-left: 10px;
        padding-right: 15px;

        &:hover .sidebar__project-delete {
            display: block;
        }
    }

    &__project {
        @include va('left');

        padding: 5px 0;
        cursor: pointer;
    }

    &__project-delete {
        display: none;
        margin-left: auto;

        svg {
            color: #cacaca;
        }

        &.active,
        &:hover {
            font-weight: 800;
            background: #fff;
        }

        &:nth-child(1) {
            .sidebar__dot {
                color: #6accbc;
            }
        }
        &:nth-child(2) {
            .sidebar__dot {
                color: #fad003;
            }
        }
        &:nth-child(3) {
            .sidebar__dot {
                color: #ff8d85;
            }
        }
        &:nth-child(4) {
            .sidebar__dot {
                color: #ff9952;
            }
        }
        &:nth-child(5) {
            .sidebar__dot {
                color: #af38eb;
            }
        }
    }

    &__projects {
        padding-left: 3px;
    }

    &__dot {
        font-size: 1.95rem;
        margin-right: 10px;
    }

    &__middle {
        display: flex;
        border-bottom: $generic-border;
        padding-left: 10px;
        margin: 20px 0;
        cursor: pointer;

        span {
            color: #000;
            margin-right: 10px;
        }

        span svg.hidden-projects {
            transform: rotate(-90deg);
        }

        h2 {
            font-size: 0.99rem;
            font-weight: 800;
            color: #333;
            padding-bottom: 20px;
            margin: 0;
        }
    }
    &__generic { 

        li {
            display: flex;
            font-size: 0.95rem;
            line-height: 1rem;
            color: #333;
            padding: 10px 0 10px 10px;
            list-style-type: none;
            cursor: pointer;
        }

        li.active,
        li:hover {
            background-color: #fff;
            font-weight: 800;
        }

        li span:first-of-type {
            margin-right: 10px;

            svg {
                width: 18px;
                height: 18px;
                color: #555;
            }
        }

    }
}